.border {
  display: inline-block;
  padding: 15px;
  border: 2px solid black;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  margin: 20px;
}

thead {
  background-color: yellow;
}

th,
td {
  border: 1px solid black;
  padding: 0.2em 1em 0.2em 0.5em;
  text-align: left;
  vertical-align: middle;
}

tbody tr:nth-child(even) td {
  background-color: yellow;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

#white {
  background-color: white;
}
